annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
bambi==0.13.0
fastapi==0.104.1
fonttools==4.25.0
formulae==0.5.1
h11==0.14.0
httptools==0.6.1
LunarCalendar==0.0.9
multipledispatch==0.6.0
munkres==1.1.4
protobuf==4.24.3
pyarrow==13.0.0
pycairo==1.25.0
pydantic==2.5.0
pydantic_core==2.14.1
pymc==5.10.4
pymc-experimental==0.0.17
pymc-marketing==0.4.0
pytensor==2.18.6
python-dotenv==1.0.0
starlette==0.27.0
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0